* {
    margin: 0px;
    padding: 0px;
}
body {
    position: relative;
}
.TheLine {
    background-color: orange;
    position: absolute;
    text-align: center;
    width: 730px;
    height: 25px;
    border-radius: 10px;
    color: rgba(255, 255, 255);
    transform: translateY(250px) translateX(250px);
}