body {
    position: relative;
}
input {
    border-radius: 6px;
}

.Ones input {
    display: inline-block;
    height: 64px; width: 300px;
    font-size: 64px;
}
.Ones span img{
    position: absolute;
    float: right;
    transform: translateX(-69px);
}
.Ones span:nth-child(2) input{
    border: 3px solid rgba(89, 222, 89, 0.824);
}
.Ones span:nth-child(3) input{
    border: 3px solid rgba(222, 93, 93, 0.824);
}

textarea {
    border-color: rgba(149, 146, 141, 0.757);
    border-radius: 3px;
    width: 450px;
    height: 200px;
}