input {
    background-color: #99e3e3dc;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.584);
}
p {
    color: rgba(0, 0, 0, 0.453);
}
p, input {
    transform: translateY(210px);
    margin-left: 25px;
    font-size: 60px;
}

.three, .thour, .five {
    /* position: absolute; */
    font-size: 25px;
    width: 200px;
}
.thour {
    transform: translateX(500px) translateY(150px);
    width: 230px;
}
.five {
    width: 230px;
}
.two {
    margin-bottom: 30px;
}

p:hover {
    color: rgba(0, 0, 0, 0.3);
} 